.container {
    clear: both;
    margin-top: 100px;
}
.btns {
    margin: 5px;
}
.btn-default {
    background-color: #414950 !important;
    border: 1px solid #414950 !important;
    color: #fff !important;
}
.btn-success {
    background-color: #9F363B !important;
    border: 1px solid #9F363B !important;
}
.btn-danger {
    background-color: #520307 !important;
    border: 1px solid #520307 !important;
}
