<div class="modal-content">
	<div class="modal-header">
		<button class="close" type="button" (click)="activeModal.close('Close click')" aria-label="Close">
		<span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Sign Up</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>Name:</label>
			<input type="text" name="name" class="form-control" ngModel />
			<label>Email:</label>
			<input type="text" name="email" class="form-control" ngModel />
			<label>Username:</label>
			<input type="text" name="username" class="form-control" ngModel />
			<label>Password:</label>
			<input type="password" name="password" class="form-control" ngModel />
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" (click)="activeModal.close('Close click')">Cancel</button>
		<button type="button" class="btn btn-primary">Signup</button>
	</div>
</div>