.container {
    clear: both;
    margin-top: 100px;
}
.btns {
    margin: 5px;
}
.btn-default {
    background-color: #414950 !important;
    border: 1px solid #414950 !important;
    color: #fff !important;
}