<app-adminheader></app-adminheader>

<div class="container">
  <h1>Settings</h1>
  <div class="row">
    <div class="col-md-2">
      <label>Make User Admin:</label>
      <select 
        class="form-control" 
        id="username" 
        name="username"
        #username
        required>
          <option *ngFor="let user of usernames" ng-selected="true" value="{{user}}">{{user}}</option>
        </select>
      <!-- <input type="text" name="username" id="username" #username /> -->
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="makeAdmin(username.value)">Make Admin</button>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-2">
      <label>Add Issue Category:</label>
      <input type="text" name="categoryAdd" id="categoryAdd" #categoryAdd />
      <button class="btn btn-primary" (click)="addCategory(categoryAdd.value)">Add Category</button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <label>Delete Issue Category:</label>
      <!-- <select name="categoryList" id="categoryList" #categoryList></select> -->
        <select 
        class="form-control" 
        id="categoryDelete" 
        name="categoryDelete"
        #categoryDelete
        required>
          <option *ngFor="let categoryDelete of categories" ng-selected="true" value="{{categoryDelete}}">{{categoryDelete}}</option>
        </select>
      <!-- <input type="text" name="categoryDelete" id="categoryDelete" #categoryDelete /> -->
      <button class="btn btn-danger" (click)="deleteCategory(categoryDelete.value)">Delete Category</button>
    </div>
  </div>
</div>