<app-adminheader></app-adminheader>

<div class="container">
  <h1>Settings</h1>
  <div class="row">
    <div class="col-md-3 set">
      <label>Make User Admin:</label>
      <select 
        class="form-control" 
        id="username" 
        name="username"
        #username
        required>
          <option *ngFor="let user of usernames" ng-selected="true" value="{{user}}">{{user}}</option>
        </select>
      <button class="btn btn-default" (click)="makeAdmin(username.value)">Make Admin</button>
    </div>
    <br>
    <br>
    <div class="col-md-3 set">
      <label>Add Issue Category:</label>
      <input type="text" name="categoryAdd" id="categoryAdd" #categoryAdd />
      <button class="btn btn-success" (click)="addCategory(categoryAdd.value)">Add Category</button>
    </div>
    <div class="col-md-3 set">
      <label>Delete Issue Category:</label>
        <select 
        class="form-control" 
        id="categoryDelete" 
        name="categoryDelete"
        #categoryDelete
        required>
          <option *ngFor="let categoryDelete of categories" ng-selected="true" value="{{categoryDelete}}">{{categoryDelete}}</option>
        </select>
      <button class="btn btn-danger" (click)="deleteCategory(categoryDelete.value)">Delete Category</button>
    </div>
  </div>
</div>