<div class="container" id="landingPage">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<h1>HELP!!!!</h1>
			<h2>The one-stop shop for all of your coding needs!</h2>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-5"></div>
		<div class="col-sm-1">
			<button class="btn btn-primary" (click)="signup()">Join!</button>
		</div>
		<div class="col-sm-1">
			<button class="btn btn-primary" (click)="login()">Help me!</button>
		</div>
	</div>
</div>

<app-aupdate></app-aupdate>