<div class="container col-lg-12" id="landingPage">

	<img id="background-logo" src="./assets/efalogo.png" />

	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4 content">
			<h1>EFA Student Ticket Queue</h1>
		</div>
		<div class="col-sm-4"></div>
	</div>
	<br>
	<br>
	<br>
	<div class="row buttons">
		<div class="col-sm-4"></div>
		<div class="col-sm-2">
			<button class="btn btn-primary in" (click)="signup()">Join!</button>
		</div>
		<div class="col-sm-2">
			<button class="btn btn-primary up" (click)="login()">Help me!</button>
		</div>
		<div class="col-sm-4"></div>
	</div>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<p>Scroll down to see our video!</p>
		</div>
		<div class="col-sm-4"></div>
	</div>
	<div class="col-sm-12 col-lg-12 space"></div>
	<div class="col-sm-12 col-lg-12 space"></div>
	<div class="row">
		<div class="col-sm-12 smallSpace"></div>
		<div class="col-sm-12 videoHolder">
			<div class="video" [ngsReveal]="{ reset:true}">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/L0Uy5DsGPes" frameborder="0" gesture="media" allowfullscreen></iframe>
			</div>
		<div class="col-sm-12 smallSpace"></div>
		</div>
	</div>	
</div>
