.container {
    clear: both;
    margin-top: 100px;
}
.btns {
    margin: 5px;
}
.btn-default {
    background-color: #1D1959 !important;
    border: 1px solid #1D1959 !important;
    color: #fff !important;
}
.btn-success {
    background-color: #595594 !important;
    border: 1px solid #595594 !important;
}
.btn-danger {
    background-color: #0B083B !important;
    border: 1px solid #0B083B !important;
}
.btn-primary {
    background-color: #827FB2 !important;
    border: 1px solid #827FB2 !important;
}

