<app-adminheader></app-adminheader>

<div class="container">
	<div class="row">
		<br>
		<br>
		<div class="col-sm-11">
			<h2>Suggest Solution</h2>
		</div>
		<br>
	</div>
	<form (ngSubmit)="onSubmit(f)" #f="ngForm">
	  <div class="form-row">
			<div class="form-group col-md-4">
			  <label for="inputName" class="col-form-label"><b>Name</b></label>
			  <input type="text" class="form-control" id="studentName" name="studentName" [(ngModel)]="studentName" disabled>
			</div>
			<div class="form-group col-md-4">
			  <label for="inputCategory" class="col-form-label"><b>Category</b></label>
			  <input type="text" id="category" name="category" [(ngModel)]="category" class="form-control" disabled>
			</div>
			<div class="form-group col-md-4">
			  <label for="inputLocation" class="col-form-label"><b>Location</b></label>
			  <input type="text" id="location" name="location" [(ngModel)]="location" class="form-control" disabled>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label><b>Description</b></label>
				<textarea class="form-control" id="desc" name="desc" rows="6" [(ngModel)]="desc" disabled></textarea>
			</div>
	  	<div class="form-group col-md-6">
				<label for="descriptionTextArea"><b>Suggested Solution</b></label>
				<textarea class="form-control" id="suggestedSolution" name="suggestedSolution" rows="6" [(ngModel)]="suggestedSolution" disabled></textarea>
			</div>
		</div>	
		<div class="form-row">
			<div class="form-group col-md-4">
				<label><b>Instructor</b></label>
				<input type="text" id="instructor" name="instructor" [(ngModel)]="instructor" class="form-control" disabled>
		  </div>
			<div class="form-group col-md-4">
				<label><b>Ticket Created At:</b></label>
				<input class="form-control" id="createTime" name="createTime" [(ngModel)]="createTime" disabled>
			</div>
			<div class="form-group col-md-4">
				<label><b>Ticket Updated At:</b></label>
				<input class="form-control" id="updateTime" name="updateTime" [(ngModel)]="updateTime" disabled>
			</div>
			<button type="button" class="btn btn-default btns" (click)="cancel()">Cancel</button>
		</div>
	</form>
</div>