<app-header></app-header>

<div class="container">
	<div class="row">
		<br>
		<br>
		<div class="col-sm-11">
			<h2>Update Ticket</h2>
		</div>
		<br>
	</div>
	<form (ngSubmit)="onSubmit(f)" #f="ngForm">
	  <div class="form-row">
			<div class="form-group col-md-4">
			  <label for="inputName" class="col-form-label">Name</label>
			  <input type="text" class="form-control" id="studentName" name="studentName" rows="1" [(ngModel)]="studentName">
			</div>
	  </div>
	  <div class="form-group">
			<label for="descriptionTextArea">Description</label>
			<textarea class="form-control" id="desc" name="desc" rows="6" [(ngModel)]="desc"></textarea>
		</div>
	  <div class="form-row">
			<div class="form-group col-md-4">
			  <label for="inputLocation" class="col-form-label">Location</label>
			  <input type="text" id="location" name="location" [(ngModel)]="location" class="form-control" rows="1" >
			</div>
			<div class="form-group col-md-4">
			  <label for="inputCategory" class="col-form-label">Category</label>
			  <!-- <select #category class="form-control" NgModel></select> -->
			  <input type="text" id="category" name="category" [(ngModel)]="category" class="form-control" rows="1">
			</div>
			<div class="form-group col-md-4">
				<label>Instructor</label>
				<input type="text" name="instructor" [(ngModel)]="instructor" class="form-control" rows="1">
		  </div>
		</div>
	  <div class="form-row">
	  	<div class="form-group col-md-6">
				<label for="descriptionTextArea">Suggested Solution</label>
				<textarea class="form-control" id="suggestedSolution" name="suggestedSolution" rows="6" [(ngModel)]="suggestedSolution"></textarea>
			</div>
			<div class="form-group col-md-3">
				<label>Ticket Created At:</label>
				<input class="form-control" id="createTime" name="createTime" rows="1" [(ngModel)]="createTime" disabled>
			</div>
			<div class="form-group col-md-3">
				<label>Ticket Updated At:</label>
				<input class="form-control" id="updateTime" name="updateTime" rows="1" [(ngModel)]="updateTime" disabled>
			</div>
			<button type="button" class="btn btn-default btns" (click)="cancel()">Cancel</button>
			<button type="submit" class="btn btn-success btns">Update</button>
			<button type="button" class="btn btn-danger btns" (click)="delete()">Delete</button>
			<button type="button" class="btn btn-primary btns" (click)="closeIssue()">Close Issue</button>
		</div>
	</form>
</div>